# Python
__pycache__/
*.py[cod]
.env
venv/

# Автоматически создаваемые папки
vector_db
.streamlit/

# Данные (опционально — если конфиденциальные)
# data/            
# knowledge/     

# Временные файлы
~$*.xlsx
.DS_Store
